<% include ../pages/header %>

    
<div class="ui comments">
    
        <div class="comment" >
            <a href="/message/<%= message.id %>">
                Lien commentaire
            </a>
            <div class="content">
                <div class="metadata">
                    <%= message.create_at.fromNow() %>
                </div>
                <div class="test"><%= message.content %></div>
            </div>
        </div>
    
</div>

<% include ../pages/footer %>